<DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="https://static.thenounproject.com/png/967229-200.png">
    <link rel="stylesheet"  href="/css/style.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <img class="portrait" src="/img/muskan.jpg">
    </div>    
   
    {{>footer}}
</body>
</html>